header{
    padding: 30px;
    color: white;
    display: flex;
}

.topicos{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#atividades{
    display: flex;
}

#laboratorios{
    display: flex;
}

#provas{
    display: flex;
}