header{
    display: flex;
    justify-content: space-between;
    background-color: #727D73;
    color: #B2C9AD;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
}


body{
   background-color: #F0F0D7;
}

i#burguer{
    background-color:#727D73;
    color: #AAB99A;
    text-align: start;
    cursor: pointer;
    padding: 10px;
}

i#burguer:hover{
    background-color: #91AC8F;
    color: #D0DDD0;
    border-radius: 10%;
    border: 20px;
}

menu{
    display: none;
}

.abaconteudo{
    display: flex;
    font-size: large;
    justify-content: flex-start;
    background-color: #AAB99A;
    color: #EFE9D5;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}


a{
    text-decoration: none;
    color: #EFE9D5;
}

li{ list-style: none;}

li:hover{
    background-color: #162736;
    color: #EFE9D5;
    border-radius: 10%;
    border: 20px;
}

.materias{
    border: #EFE9D5;
    border: 10px;
    display: flex;
    font-size: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
    align-content: center;
}

.titulopagina{
    display: flex;
    color: #27445D;
    font-size: 15px;
    justify-content: flex-end;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-items: stretch;}